<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:include="user/common/header.html"></head>

  <body>

    <!-- Header Area wrapper Starts -->
    <header th:include="user/common/headerMenu.html" id="header-wrap"></header>
    <!-- Header Area wrapper End -->



    <section id="price" class="section-padding" style="background-color: white;" >
      <!-- Container Starts -->
      <div class="container">
        <!--<h2 class="section-title wow flipInX" data-wow-delay="0.4s">대표작품</h2>-->
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">price</h2>
        <div class="row">


          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--profile-wrapper-->
            <div class="intro wow fadeInRight" data-wow-delay="0.3s">

              <div class="main-button-area">

                <button type="button" class="btn circle button1" data-toggle="button" aria-pressed="false" autocomplete="off">
                  웹툰제작
                </button>

                <button type="button" class="btn circle button2" data-toggle="button" aria-pressed="false" autocomplete="off">
                  창작지원
                </button>

                <button type="button" class="btn circle button3" data-toggle="button" aria-pressed="false" autocomplete="off">
                  홍보물제작
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>








    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <!--
        <div class="row">
          test
        </div>
        -->


        <div class="row">
          <!--
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="/static/images/main/intro_img.jpg" alt="">
            </div>
          </div>
          -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--profile-wrapper-->
            <div class="intro wow fadeInRight" data-wow-delay="0.3s">
<!--
              <div class="main-button-area">


                <div class="button-type" style="background-color: #7d2ed3">
                  웹툰제작
                </div>
                <div class="button-type" style="background-color: #ba23d8">
                  어시지원
                </div>
                <div class="button-type" style="background-color: #f73f7d">
                  작품기획
                </div>
              </div>
              -->
              <b>"DEA"는 <br/>재능있는 예술가들을 위하여 <br/>노력하는 회사입니다</b>
              <div class="about-profile" style="text-align: center">

                안녕하세요 예술의 아이디어를 실천하는 DEA입니다.
                예술업계에 종사하는 수 많은 예술인들의 임금 불평등을 반드시 해결하리라는 목표를 갖고 있습니다.
                <br/>
                <br/>
                단순하게 유명하다는 이유로 재능과 실력에 비해 막대한 부와 명성을 쌓는 불합리함을 타파하고자 합니다.
                저희 DEA는 기업에겐 효율적인 가격과 최상의 퀄리티를 자랑하는 작품을 선사하며,
                예술인들에겐 재능과 실력만큼 부와 명성을 쌓을수 있도록 최선을 다하여 업자간 만족의 상향과 재화의 균형을 이끌도록 끝없이 달려 나아갈 것 입니다.

                <!--
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Tom Saulnier</span></li>
                  <li><span class="pro-title"> Age </span> <span class="pro-detail">25 Years</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">4 Years</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">USA</span></li>
                  <li><span class="pro-title"> Location </span> <span class="pro-detail">San Francisco, CA</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">email@example.com</span></li>
                  <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (00) 123 456 789</span></li>
                  <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                </ul>
                -->
              </div>
              <!--
              <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="#" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
              -->
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <!-- Services Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">대표작품</h2>

        <div class="row">
          <!--
          <div class="col-md-12">
            &lt;!&ndash; Portfolio Controller/Buttons &ndash;&gt;
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common" data-filter=".design">
                Design 
              </a>
              <a class="filter btn btn-common" data-filter=".development">
                Development
              </a>
              <a class="filter btn btn-common" data-filter=".print">
                Print 
              </a>
            </div>
            &lt;!&ndash; Portfolio Controller/Buttons Ends&ndash;&gt;
          </div>
          -->

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow" data-wow-delay="0.4s">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/images/gallery/KakaoTalk_20200629_201223740.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_01.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/images/gallery/KakaoTalk_20200629_201223740_01.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_02.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/images/gallery/KakaoTalk_20200629_201223740_02.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mix development design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_03.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/images/gallery/KakaoTalk_20200629_201223740_03.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_04.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/images/gallery/KakaoTalk_20200629_201223740_04.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_05.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/images/gallery/KakaoTalk_20200629_201223740_05.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            <div class="col-md-12 col-lg-12 col-sm-12 mb-4">
              <div class="contact-block">
                <h2>문의하기</h2>
                <div id="contactForm">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="성명" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" placeholder="휴대폰번호" name="phone" id="phone" class="form-control" data-error="Please enter your phone">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="email" placeholder="회신 이메일주소" id="email" class="form-control" data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="제목" name="title" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" name="contents" id="contents" placeholder="내용을 입력하세요." rows="5" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common" id="btn-send-mail">메일전송</button>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>            
                </div>

                <div class="contact-call-area"><a href='tel:010-8410-3917'>전화문의 ) 대표 윤승주
                  <br>010-8410-3917</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section End -->

    <!-- Modal -->
    <div class="modal fade" id="modal-webtoon" style="padding-top:30%">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-columns" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M15 2H1v12h14V2zM1 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H1z"/>
              <path fill-rule="evenodd" d="M7.5 14V2h1v12h-1zm0-8H1V5h6.5v1zm7.5 5H8.5v-1H15v1z"/>
            </svg>
            <h4 class="modal-title" style="margin-left:10px;">웹툰제작</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

            ㅇ) 콘티 -컷당 5천
            <br/>
            ㅇ) 펜터치 - 컷당 2만원
            <br/>
            ㅇ) 채색 및 배경 - 컷당 7만원
            <br/>
            ㅇ) 추가컷 컷당 12만원(전체작업)
            <br/><br/>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            ※ 난이도에 따라 가격이 상이하오니 적극적인 문의 바랍니다
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
          </div>

        </div>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modal-assist" style="padding-top:25%">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
              <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
            </svg>
            <h4 class="modal-title" style="margin-left:10px;">창작지원</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            ㅇ)포스터 제작 <br>
            &nbsp;&nbsp; 1) 전체제작 55~200만원<br>
            &nbsp;&nbsp; 2) 부분제작 가능<br>
            ㅇ)캐릭터라이징 15만(가격상이)<br>
            ㅇ) 인물묘사 25만(가격상이)<br>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            ※ 개인 수집작품, 수채화, 소묘, 유화 등의 작품활동이 가능하오니 많은 문의 바랍니다
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
          </div>

        </div>
      </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="modal-create" style="padding-top:30%">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-brightness-high" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
            </svg>
            <h4 class="modal-title" style="margin-left:10px;">홍보물제작</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

            ㅇ) 스토리라인 구성 기본 10만<br/>

            ㅇ) 홍보물 2D, 3D애니 제작 가격협의
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            ※ 난이도에 따라 가격이 상이하오니 적극적인 문의 바랍니다
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
          </div>

        </div>
      </div>
    </div>


    <!-- Footer Section End -->
    <footer th:include="user/common/footer.html"></footer>

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <div th:include="user/common/jsInclude.html"></div>


    <script type="text/javascript">

      $(document).ready(function() {

        //  메일전송 클릭 시
        $( "#btn-send-mail" ).on( "click", function() {

          var phone = $( "#phone" ).val();
          var email = $( "#email" ).val();
          var name = $( "#name" ).val();
          var contents = $( "#contents" ).val();

          if( !name || !contents ) {
            return;
          }
          if( !phone && !email ) {
            alert( "답변을 위해 휴대폰번호 또는 이메일 중 하나는 필수입니다." );
            return;
          }
          let param = {
            phone : phone,
            email : email,
            name : name,
            contents : contents,
            title : $( "#msg_subject" ).val()
          };

          $.blockUI({ message: '메일 전송중입니다..' });

          $.post("/main/sendMail", param, function ( data ) {

            if( "boolean" != typeof data || !data ) {
              alert( "오류발생" );
            }

            //  전송중 표시 삭제
            $.unblockUI();
            alert( "메일전송이 완료되었습니다." );


            $( "#phone" ).val( "" );
            $( "#email" ).val( "" );
            $( "#name" ).val( "" );
            $( "#contents" ).val( "" );
            $( "#msg_subject" ).val( "" );

          });

        } );

        //  메뉴 자동닫힘
        $( "body" ).on( "click", function( e ) {

          if( $(e.target).hasClass( "slicknav_btn" )
          || $( e.target ).hasClass( "slicknav_menutxt" )
          || $( e.target ).hasClass( "slicknav_icon" )
          || $( e.target ).hasClass( "slicknav_icon-bar" ) ) {

            return false;
          }
          if( $( ".slicknav_nav" ).attr( "aria-hidden" ) == "false" ) {
            $( ".slicknav_btn" ).click();
          }
        } );




        var $buttonArea = $( ".main-button-area" );
        $buttonArea.find( ".button1" ).on( "click", function() {
          $( "#modal-webtoon" ).modal( "show" );
        } );
        $buttonArea.find( ".button2" ).on( "click", function() {
          $( "#modal-assist" ).modal( "show" );
        } );
        $buttonArea.find( ".button3" ).on( "click", function() {
          $( "#modal-create" ).modal( "show" );
        } );

        $('.carousel').carousel({
          //interval: false
          interval: 3000

        });
      });
    </script>

  </body>
</html>
