<!-- jQuery -->
<script src="/static/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/gentelella/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/static/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/static/gentelella/vendors/nprogress/nprogress.js"></script>

<!-- Dropzone.js -->
<script src="/static/gentelella/vendors/dropzone/dist/min/dropzone.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/static/gentelella/build/js/custom.min.js"></script>