<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/admin/main" class="site_title">
                <!--<i class="fa fa-paw"></i>-->
                <span>Manager</span></a>
        </div>

        <div class="clearfix"></div>

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <!--<h3>General</h3>-->
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-edit"></i> 사용자 메인관리 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/management/thumbnail">Thumbnail 관리</a></li>
                            <li><a href="/admin/management/representative_work">대표작품 관리</a></li>
                            <li><a href="/admin/management/intro">소개 관리</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->

        <!-- /menu footer buttons -->
    </div>
</div>