<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DEA</title>

    <!-- icon :: Material+Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/bootstrap.min.css" >
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/static/lib/template1/css/responsive.css">

    <!-- 선영 custom -->
    <link rel="stylesheet" type="text/css" href="/static/lib/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/antaca.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  소개
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                  작품
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  문의
                </a>
              </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <!--<a href="index.html" class="navbar-brand"><img src="/static/lib/template1/img/logo.png" alt=""></a>-->
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  소개
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                  작품
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  문의
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">소개</a>
          </li>
          <li>
            <a href="#portfolios">작품</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents maincard">
                <div class="gallery_area">





                  <!--
<h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
<h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Tom Saulnier</h2>
<p class="script-font wow fadeInUp" data-wow-delay="0.6s">Front-end Web Developer and Graphic Designer</p>
-->

                  <div class="mark-icon">
                    <img src="/static/images/icon/moon.png" style="width: 116px;"/>
                  </div>

                  <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">&nbsp;DEA</h2>

                  <div class="btn_wrap">
                    <ul class="btn_list">
                      <!-- url -->
                      <li class="">
                        <a class="btn btn_ic5" href="#">
                          <div class="in">오픈채팅<!--<span class="ic theme_background"></span>-->
                            <span class="ic theme_background">
                              <span class="material-icons">
                               chat
                              </span>
                            </span>
                          </div>
                        </a>
                      </li>
                      <li class="">
                        <a class="btn btn_ic2" href="#">
                          <div class="in">기업소개
                            <span class="ic theme_background">

                            <span class="material-icons">
                             emoji_objects
                            </span>
                            </span>
                          </div>
                        </a>
                      </li>
                      <li class="">
                        <a class="btn btn_ic37" href="#">
                          <div class="in">채용정보
                            <span class="ic theme_background">
                              <span class="material-icons">
                                person_add
                              </span>
                          </span></div>

                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="/static/images/main/intro_img.jpg" alt="">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h4>상상하는 모든 것을<br/>그려드립니다.</h4>

              <div class="about-profile">
                저희 DEA는 10년 경력 이상의 고급인력들로만 이루어져있습니다.
                <br/>
                <b>teaching, making, business</b> 모든것이 가능합니다.
                <br/>
                화해는 화장품 리뷰, 랭킹, 성분 등 다양한 정보를 제공하는 것으로 시작해
                지금은 쇼핑까지 한 번에 해결할 수 있는 No1. 화장품 정보 플랫폼이 되었습니다.

                화해의 모습이나 인지도는 많이 달라졌지만,
                그럼에도 변하지 않는 한 가지는
                신뢰를 기반으로 화해만의 가치를 지켜 나가는 일입니다.

                수 많은 변화에도 가치와 본질을 지킬 수 있었던 건
                이를 만드는 기업과 사람들의 뜨거운 노력이 있었기 때문입니다.
                화해를 운영하는 기업, 버드뷰를 소개합니다!
                <!--
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Tom Saulnier</span></li>
                  <li><span class="pro-title"> Age </span> <span class="pro-detail">25 Years</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">4 Years</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">USA</span></li>
                  <li><span class="pro-title"> Location </span> <span class="pro-detail">San Francisco, CA</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">email@example.com</span></li>
                  <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (00) 123 456 789</span></li>
                  <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                </ul>
                -->
              </div>
              <!--
              <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="#" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
              -->
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <!-- Services Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">대표작품</h2>

        <div class="row">
          <!--
          <div class="col-md-12">
            &lt;!&ndash; Portfolio Controller/Buttons &ndash;&gt;
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common" data-filter=".design">
                Design 
              </a>
              <a class="filter btn btn-common" data-filter=".development">
                Development
              </a>
              <a class="filter btn btn-common" data-filter=".print">
                Print 
              </a>
            </div>
            &lt;!&ndash; Portfolio Controller/Buttons Ends&ndash;&gt;
          </div>
          -->

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/lib/template1/img/gallery/img-1.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_01.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/lib/template1/img/gallery/img-2.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_02.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/lib/template1/img/gallery/img-3.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_03.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/lib/template1/img/gallery/img-4.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_04.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/lib/template1/img/gallery/img-5.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/static/images/gallery/KakaoTalk_20200629_201223740_05.jpg" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/static/lib/template1/img/gallery/img-6.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            <div class="col-md-6 col-lg-6 col-sm-12 mb-4">
              <div class="contact-block">
                <h2>문의하기</h2>
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="Your Name" placeholder="성명" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" placeholder="회신 이메일주소" id="email" class="form-control" name="email" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="제목" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="내용을 입력하세요." rows="5" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common" id="submit" type="submit">메일전송</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 mb-4">
              <div class="footer-right-area wow fadeIn">
                <h2>대표자 정보</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>San Francisco, CA</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:hello@tom.com">hello@tom.com</a></p>
                    <p><a href="mailto:tomsaulnier@gmail.com">tomsaulnier@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">+ (00) 123 456 789</a></p>
                    <p><a href="#">+ (00) 123 344 789</a></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>   
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                <li>
                  <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-google"></i></a>
                </li>
              </ul>
              <p>Copyright © 2018 UIdeck All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/lib/template1/js/jquery-min.js"></script>
    <script src="/static/lib/template1/js/popper.min.js"></script>
    <script src="/static/lib/template1/js/bootstrap.min.js"></script>
    <script src="/static/lib/template1/js/jquery.mixitup.js"></script>
    <script src="/static/lib/template1/js/jquery.counterup.min.js"></script>
    <script src="/static/lib/template1/js/waypoints.min.js"></script>
    <script src="/static/lib/template1/js/wow.js"></script>
    <script src="/static/lib/template1/js/jquery.nav.js"></script>
    <script src="/static/lib/template1/js/jquery.easing.min.js"></script>
    <script src="/static/lib/template1/js/nivo-lightbox.js"></script>
    <script src="/static/lib/template1/js/jquery.slicknav.js"></script>
    <script src="/static/lib/template1/js/main.js"></script>
    <script src="/static/lib/template1/js/form-validator.min.js"></script>
    <script src="/static/lib/template1/js/contact-form-script.min.js"></script>
    <script src="/static/lib/template1/js/map.js"></script>
      
  </body>
</html>
