<!-- Footer Section Start -->
<!-- section-padding -->
<footer class="footer-area pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer-text">
                <div><p>(주)디아컴퍼니 ┃ 사업자번호:746-99-00643 ┃ 대표자명:윤승주</p></div>
                <div><p>사업장소재지 : 경기도 고양시 덕양구 마상로 114번길 10, 2층 (주교동)</p></div>
            </div>
            <div class="col-md-12 footer-text">
                <div class="copyright"><p>Copyright ⓒ2020 디아컴퍼니</p></div>
            </div>

        </div>
    </div>
</footer>