
<header id="header-wrap">

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                </button>
                <!--<a href="index.html" class="navbar-brand"><img src="/static/lib/template1/img/logo.png" alt=""></a>-->
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero-area">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price"><!-- #price -->
                            가격
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><!-- #about -->
                            소개
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolios"><!-- #portfolios -->
                            작품
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"><!-- #contact -->
                            문의하기
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu" id="main-navbar-mobile">
            <li>
                <a href="#hero-area">Home</a><!-- #hero-area -->
            </li>
            <li>
                <a href="#price">가격</a><!-- #price -->
            </li>
            <li>
                <a href="#about">소개</a><!-- #about -->
            </li>
            <li>
                <a href="#portfolios">작품</a><!-- #portfolios -->
            </li>
            <li>
                <a href="#contact">문의하기</a><!-- #contact -->
            </li>
        </ul>
        <!-- Mobile Menu End -->
    </nav>
    <!-- Navbar End -->




</header>