<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>DEA</title>

<style type="text/css">
    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
</style>

<!-- icon :: Material+Icons-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/css/bootstrap.min.css" >

<!-- Fonts -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/fonts/font-awesome.min.css">
<!-- Icon -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/fonts/simple-line-icons.css">
<!-- Slicknav -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/css/slicknav.css">
<!-- Nivo Lightbox -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/css/nivo-lightbox.css" >
<!-- Animate -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/css/animate.css">
<!-- Main Style -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/css/main.css">
<!-- Responsive Style -->
<link rel="stylesheet" type="text/css" href="/static/lib/template1/css/responsive.css">

<!-- 선영 custom -->
<link rel="stylesheet" type="text/css" href="/static/lib/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/antaca.css">
